h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: midnightblue;
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: royalblue;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif
}


#center{
    text-align: center;
}

#homelink{
    text-align: right;
    color: slateblue;
    text-decoration: underline;
}

#circleprofile{
    border-radius: 50%;
    float: left;
}

.tableOfContents{
    text-align: center;
    color: blueviolet;
}

.imgfit{
    width: 19%;
    height: 200px;
    border: 5px dashed dodgerblue;
} 

.mainpfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
